*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
#container{
    display: flex;
    border: 2px solid red;
    width: 500px;
    height: auto;
    flex-wrap: wrap;
}
.box{
    border: 1px solid  #000;
    aspect-ratio: 1 / 1;
}
